<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>

<form action="answer" method="GET"> <!--Display the answer-->
  <input type="text" name="question"> <!-- Creating a param[:question] = whatever the text (input) is -->
  <input type="submit" value="ask!">
</form>
